/**
* rem to px
*/

/**
* EZ Breakpoints
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video
{
    font: inherit;
    font-size: 100%;

    margin: 0;
    padding: 0;

    vertical-align: baseline;

    border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section
{
    display: block;
}

body
{
    line-height: 1;
}

ol,
ul
{
    list-style: none;
}

blockquote,
q
{
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after
{
    content: '';
    content: none;
}

table
{
    border-spacing: 0;
    border-collapse: collapse;
}

*,
*::before,
*::before
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body
{
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;

    padding-bottom: 2.5rem;
}

::-moz-selection
{
    color: white;
    background: #c6e653;
}

::selection
{
    color: white;
    background: #c6e653;
}

img
{
    max-width: 100%;
}

.is-hidden
{
    position: absolute;

    visibility: hidden;

    width: 0;
    height: 0;
}

.icon
{
    display: block;

    width: 100%;
    margin: 0 auto;

    fill: currentColor;
    stroke: currentColor;
}

.container
{
    position: relative;

    width: 100%;
    margin: 0 auto;
    padding-right: .9375rem;
    padding-left: .9375rem;
}

.container:after
{
    display: block;
    clear: both;

    content: '';
}

.row:after
{
    display: block;
    clear: both;

    content: '';
}

.row--flex
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    max-width: 100%;

    text-align: center;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.vertical
{
        flex-direction: column !important;

    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
}

.horizontal
{
        flex-direction: row !important;

    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
}

.mainHeader
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;
    padding-top: .75rem;
    padding-bottom: .75rem;

    background-color: #4c4c4c;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.mainHeader > div
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

h6
{
    position: relative;
    top: .0625rem;

    margin-left: 1.125rem;

    text-transform: uppercase;

    color: white;
}

.pagination
{
    margin-top: 2.75rem;
    margin-bottom: 3.125rem;

    text-align: center;
}

.pagination h3
{
    font-size: 1.25rem;
    font-weight: 600;

    text-transform: uppercase;

    color: #2f96e9;
}

.back
{
    float: left;

    cursor: pointer;
}

.arrow
{
    width: .9375rem;
    height: 1.875rem;

    fill: #2f96e9;
    stroke: none;
}

.stats
{
    width: 1.4375rem;
    height: 1.0625rem;

    cursor: pointer;

    fill: #2f96e9;
    stroke: none;
}

.flex-row
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    padding-top: .9375rem;
    padding-right: 1.25rem;
    padding-bottom: .9375rem;
    padding-left: 1.25rem;

    -webkit-transition: all .225s ease;
            transition: all .225s ease;

    color: #74838b;
    border: 1px solid #eaf0f2;
    background-color: white;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.flex-row:hover
{
    background-color: rgba(47, 150, 233, .1);
}

.flex-row .column:not(:first-of-type)
{
    padding-top: .3125rem;
    padding-bottom: .3125rem;

    border-bottom: 1px solid #e8eef0;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.flex-row .column
{
    font-size: .875rem;
    line-height: 1.5;
}

.flex-row .column:first-of-type
{
    font-size: 1rem;
    font-weight: 600;

    margin-bottom: .9375rem;
    padding-left: .9375rem;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.flex-row .column:last-of-type
{
    margin-top: .9375rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;

    border-bottom: 0 none;

    -webkit-box-flex: 0;
    -ms-flex: 0;
        flex: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.header
{
    font-size: .875rem;
    font-weight: 700;

    display: none;

    padding-top: 1rem;
    padding-bottom: 1rem;

    letter-spacing: .0625rem;
    text-transform: uppercase;

    background-color: #eaf0f2;
}

.column
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.column::before
{
    content: attr(data-heading);
}

.even
{
    background-color: #f7f7f7;
}

.red
{
    color: #d35656;
}

.overlay
{
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: hidden;

    -webkit-transition: all .225s ease;
            transition: all .225s ease;

    opacity: 0;
    background-color: rgba(76, 76, 76, .5);

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.overlay.is-active
{
    visibility: visible;

    opacity: 1;
}

.modal
{
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;

    visibility: hidden;

    width: 100%;
    max-width: 90rem;

    -webkit-transition: all .225s ease;
            transition: all .225s ease;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

    opacity: 0;
}

.modal-content
{
    position: relative;
    z-index: 3;

    display: block;
    overflow-x: hidden;
    overflow-y: auto;

    margin: 0 auto;
    padding: 1.25rem;

    text-align: center;

    border-radius: 4px;
    background-color: white;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
}

.modal-content h3
{
    font-weight: 600;

    margin-top: 1.875rem;
    margin-bottom: 1.875rem;

    color: #74838b;
}

.modal.is-active
{
    visibility: visible;

    opacity: 1;
}

.close
{
    float: right;

    cursor: pointer;
}

.close svg path
{
    -webkit-transition: all .225s ease;
            transition: all .225s ease;

    fill: #74838b;
}

.close svg path:hover
{
    fill: #4c4c4c;
}

@media (min-width: 48rem)
{
    .container
    {
        padding-right: 1.25rem;
        padding-left: 1.25rem;
    }

    .pagination h3
    {
        font-size: 2rem;
    }

    .flex-row
    {
            flex-direction: row;

        padding-top: 1.25rem;
        padding-right: 0;
        padding-bottom: 1.25rem;
        padding-left: 0;

        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
    }

    .flex-row .column:not(:first-of-type)
    {
        padding-top: 0;
        padding-bottom: 0;

        border: 0 none;

        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .flex-row .column
    {
        font-size: 1rem;
    }

    .flex-row .column:first-of-type
    {
        font-size: 1rem;

        margin-bottom: 0;

        text-align: left;

        -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
        justify-content: baseline;
    }

    .flex-row .column:last-of-type
    {
        margin-top: 0;
    }

    .header
    {
        font-size: 1rem;

        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .column
    {
        text-align: center;

        -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    }

    .column:before
    {
        content: none;
    }

    .modal
    {
        width: 70%;
    }
}

@media (min-width: 62rem)
{
    .pagination h3
    {
        font-size: 2.375rem;
    }

    .flex-row .column:first-of-type
    {
        padding-left: 1.875rem;
    }
}

/*# sourceMappingURL=styles.css.map */
