// =======================================
// =            Global Config            =
// =======================================

// Fonts
$font: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;

// Colors
$white: white;
$black: #4C4C4C;
$blue: #2F96E9;
$gray-light: #EAF0F2;
$gray: #74838B;
$green: #B3DC20;
$red: #D35656;
$main-color: $green;

$color-accent: invert($main-color);

// Breakpoints
@import "breakpoints";

$columns: 12;
$column-gutter: 40px;
