.container {
  @include cf;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-left: rem(15px);
  padding-right: rem(15px);
  
  @include breakpoint(sm) {
    padding-left: rem(20px);
    padding-right: rem(20px);
  }
}
