extends layouts/_layout-primary

block content
  include general/_header
  include general/_pagination
  include general/_table

  .overlay
  include general/_modal_altasActivas
  include general/_modal_facturacion
  include general/_modal_transacciones