.mainHeader{
  background-color: $black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: rem(12px);
  padding-bottom: rem(12px);
  
  > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

h6 {
  color: $white;
  text-transform: uppercase;
  margin-left: rem(18px);
  position: relative;
  top: rem(1px);
}