.pagination {
  margin-top: rem(44px);
  text-align: center;
  margin-bottom: rem(50px);
  
  h3 {
    text-transform: uppercase;
    color: $blue;
    font-size: rem(20px);
    font-weight: 600;
    
    @include breakpoint(sm) {
      font-size: rem(32px);
    }
    
    @include breakpoint(md) {
      font-size: rem(38px);
    }
  }
}

.back {
  float: left;
  cursor: pointer;
}

.arrow {
  fill: $blue;
  width: rem(15px);
  height: rem(30px);
  stroke: none;
}