section
  .container
    .table
      .flex-row.header
        .column 
        .column AR
        .column C
        .column Consolidado
        .column
      .flex-row
        .column() Facturación
        .column(data-heading='AR'): span $0.00 (#[span.red -100.00%])
        .column(data-heading='C'): span $0.00 (#[span.red -100.00%])
        .column(data-heading='CONSOLIDADO'): span $0.00 (#[span.red -100.00%])
        .column()
          svg(class="icon stats")
            use(xlink:href="#stats")
      .flex-row.even
        .column() Transacciones
        .column(data-heading='AR'): span $0.00 (#[span.red -100.00%])
        .column(data-heading='C'): span $0.00 (#[span.red -100.00%])
        .column(data-heading='CONSOLIDADO'): span $0.00 (#[span.red -100.00%])
        .column()
          svg(class="icon stats")
            use(xlink:href="#stats")
      .flex-row
        .column() Altas totales
        .column(data-heading='AR'): span $0.00 (#[span.red -100.00%])
        .column(data-heading='C'): span $0.00 (#[span.red -100.00%])
        .column(data-heading='CONSOLIDADO'): span $0.00 (#[span.red -100.00%])
        .column()
          svg(class="icon stats")
            use(xlink:href="#stats")
              
      .flex-row.even
        .column() Altas activas
        .column(data-heading='AR'): span $0.00 (#[span.red -100.00%])
        .column(data-heading='C'): span $0.00 (#[span.red -100.00%])
        .column(data-heading='CONSOLIDADO'): span $0.00 (#[span.red -100.00%])
        .column()
          svg(class="icon stats")
            use(xlink:href="#stats")
              
      .flex-row
        .column() Altas inactivas
        .column(data-heading='AR'): span 0 (#[span.red N/A%])
        .column(data-heading='C'): span 0 (#[span.red N/A%])
        .column(data-heading='CONSOLIDADO'): span 0 (#[span.red N/A%])
        .column()
          svg(class="icon stats")
            use(xlink:href="#stats")
    